<form [formGroup]="lg" class="example-form">
    <div mat-dialog-content style="display: flex;align-items: center;">
        <!-- <mat-form-field style="width: 100%;">
            <mat-label>Carnet de identidad</mat-label>
            <input matInput    placeholder="{{datauser?.id}} formControlName="ci">
            
        </mat-form-field> -->
        <div class="editfoto">
            <img src="{{dataproducto?.Foto}}" alt="" style="width: 70%;
        display: block;
        align-items: center;
        
        box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
        ;" class="avatar" width="">


            <button *ngIf="!cambio; else end" class="" (click)="compressFile(1)" mat-mini-fab color="primary"
                aria-label="Example icon button with a menu icon" accept=".png, .jpg, .jpeg">
                <mat-icon>edit</mat-icon>
            </button>

            <ng-template #end>
                <button class="lapiz" (click)="removerfoto()" mat-mini-fab color="accent"
                    aria-label="Example icon button with a menu icon" accept=".png, .jpg, .jpeg">
                    <mat-icon>restart_alt</mat-icon>
                </button>
            </ng-template>

        </div>


        <div>

            <mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput maxlength="25" type="text" placeholder="{{dataproducto?.Nombre}}"
                    formControlName="Nombre">


            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Cantidad</mat-label>
                <input matInput maxlength="25" type="text" placeholder="{{dataproducto?.Cantidad}}"
                    formControlName="Cantidad">


            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Precio</mat-label>
                <input matInput maxlength="25" type="text" placeholder="{{dataproducto?.Precio}}"
                    formControlName="Precio">
                <span matPrefix>Bs&nbsp;</span>

            </mat-form-field>
        </div>




    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button class="btn-block" mat-raised-button color="accent" (click)="anadir()">
            Añadir nuevo producto

        </button>
    </div>
</form>