<div class="bg"></div>
<mat-toolbar color="primary" class="app-header">
    <div class="positronx">Bienvenido al panel administrativo de las chachas</div>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="child box" style="width: 50% !important;">
        <mat-card-header style="width:100% ;">
            <mat-card-title style="font-size:1.5rem ;">Iniciar Sesión</mat-card-title>
        </mat-card-header>
        <br>

        <form [formGroup]="lg" class="example-form">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input autocomplete="username" type="email" matInput placeholder="Usuario" formControlName="email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contraseña" formControlName="password" type="password"
                        autocomplete="current-password">
                </mat-form-field>
            </mat-card-content>
            <button class="btn-block"   variant="primary" (click)="login()">
                Iniciar sesión
            </button>
        </form>
    </mat-card>

</div>