<form [formGroup]="lg" class="example-form">
    <div mat-dialog-content style="display: flex;align-items: center;">
        <!-- <mat-form-field style="width: 100%;">
            <mat-label>Carnet de identidad</mat-label>
            <input matInput    placeholder="{{datauser?.id}} formControlName="ci">
            
        </mat-form-field> -->
     


        <div>

            <mat-form-field style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput maxlength="25" type="text" placeholder="ejem:brian"
                    formControlName="Nombre">


            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>Apellido</mat-label>
                <input matInput maxlength="25" type="text" placeholder="ejem:fernandez"
                    formControlName="Apellido">


            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label>C.I</mat-label>
                <input matInput maxlength="8" type="text" placeholder="carnet de identidad"
                    formControlName="Carnet">
               

            </mat-form-field>
          
        </div>




    </div>
    <div mat-dialog-actions>
        <button class="btn-block" mat-raised-button color="accent" (click)="anadir()">
            Añadir nuevo cliente

        </button>
    </div>
</form>