<div id="print-section" class="contaner">
    <h1  class="p-1" style="text-align:center; background-color: #FFA726;"><img src="../../../assets/imagenes/logo.png" width="50px" alt=""><br> Lista de productos vendidos</h1>
    <div class="container border b-1">
        <div class="row" >
            <div class="col-sm-6"  style="height: 300px;overflow: scroll; ">
                <div class="row">

                    <div class="col-sm-3">Nombre</div>
                    <div class="col-sm-3">Cantidad</div>
                    <div class="col-sm-3">Precio unitario</div>
                    <div class="col-sm-3">Total</div>


                </div>
                <hr>
                <div class="row" *ngFor="let list of this.data.id">

                    <div class="col-sm-3 m-0">{{list.nombre}}</div>
                    <div class="col-sm-3 m-0">{{list.cantidad}} </div>
                    <div class="col-sm-3 m-0">{{list.costo}} bs</div>
                    <div class="col-sm-3 m-0">{{list.total}} bs</div>

                </div>
            </div>
            <div class="col-sm-6">
                <h4>Total</h4>
                <hr>
                <h1><strong>{{data.total}}bs</strong></h1>
                <h4>Fecha de reserva: <strong>{{data.fecha}}</strong></h4>
                <hr>
                <div class="col-sm-6">
                    <button mat-raised-button color="accent" printSectionId="print-section" ngxPrint  (click)="printer()">
                        Imprimir
                       </button> 
                </div>
            </div>
           
        </div>
    </div>
    
</div>
<div class="container p-3">
   
</div>