


<div class="example-container bg">
  <div  class="row p-5">
  
    <div  class="col-md-4">
      <div  class="card card-profile" style="box-shadow: -1px 8px 12px 6px rgb(0 0 0 / 10%);">
        <div  class="card-avatar"><a  href="javascript:void(0)"><img
               class="avatar" src="{{datauser?.Foto}}"></a></div>
        <div  class="card-body">
          <h6  class="card-category text-gray text-center">{{datauser?.Cargo}}</h6>
          <h4  class="card-title text-center">{{datauser?.Nombre}} {{datauser?.Apellido}}</h4>
          <mat-list>
            <mat-list-item><strong>Fecha de Nacimiento</strong>: {{datauser?.Fecha_nacimiento}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item><strong>Carnet</strong>:{{datauser?.CI}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <mat-card-actions>
              <!-- <button mat-raised-button color="warn" (click)="editar(datauser?.CI)"><span class="material-icons">
                edit
                </span> Editar</button> -->
            </mat-card-actions></mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  </div>
</div>